h1 { 
    color:white;
    font-size: xx-large;
    font-weight: bold ;
}

p {
   color: violet;
   font-family: Arial;
   font-size: large;
   background: mediumaquamarine;
}

body {

    background: url('lake_photo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

li {
    color: white
}
